{% extends 'base.html' %}
{% block content %}
<div class="row ">
    <div class="col s8 offset-s2 center">
        <h3>{{ request.user }}'s orders</h3>
    </div>
</div>
        {% for order in orders_detail %}
            {% if 'order' in order %}
            <div class="row center">
                <div class="col s8 offset-s2 left">
                    <p><strong>{{ order|title}}</strong></p>
                </div>
            </div>       
            {% else %}
            <div class="row">
                <div class="col s3 center"><img src="{{ MEDIA_URL }}{{ order.image }}" alt="{{ order.image }}" class="nc-bag-img"></div>
                <div class="col s3 center" id="{{ order.pk }}">{{ order.name }}</div>
                <div class="col s3 center">{{ order.price }} $</div>
                <div class="col s3 center"></div>
            </div>
            {% endif %}
        {% endfor %}
    
{% endblock %}