{% extends 'base.html' %}
{% load static %}
{% block video-background %}
<div class="video-background">
  <div class="video-foreground">
    <iframe src="https://www.youtube-nocookie.com/embed/kBhZxNGpHpo?&autoplay=1&mute=1&playlist=kBhZxNGpHpo&loop=1" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
{% endblock %}
{% block image-background %}
<main>
{% endblock %}
{% block image-foreground %}
<div class="row nc-foreground-img" style="background-image: url('{% static "img/header.JPG" %}');">
  <div class="col s3 offset-s1">
    <p>#housemusic</p>
    <p>#jazzy</p>
    <p>#deep</p>
    <p>#funky</p>
  </div>
  <div class="col s3 offset-s4">
    <form action="#!" method="post">
      {% csrf_token %}
      {{form}}      
        <button class="btn-floating btn-small waves-effect waves-light nc-submit-button" type="submit" name="action">
          <i class="material-icons">send</i>
        </button>
    </form>
  </div>
</div>
{% endblock %}
{% block content %}
<h1>DJ & Saxophonist</h1>
<p>Adding the extra touch to your gig</p>
<p>DJing and saxophone combined</p>
<br>
<br>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/kBhZxNGpHpo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<br>
<a href="{% url 'contact' %}" class="btn waves-effect waves-light nc-btn-color">book now</a>
<br>
<br>
{% endblock %}