{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="row center">
    <div class="col s12 m12 l10 offset-l1 header-div">
      <img src="{% static "img/home_header.png" %}" alt="Header Image" class="header-img">
      <img src="{% static "img/logo-all-shine3-transp.png" %}" alt="Logo Header" class="header-logo">
        <p class="header-quote">how you think matters but the real power is in how you feel</p>
        <div class="header-subscribe">
          <form action="#!" method="post">
          <p class="subscribe-text">become an insider</p>
          {% csrf_token %}
          {{form}}      
          <div class="card-action">
            <button class="btn waves-effect waves-light nc-btn-color subscribe-btn" type="submit" name="action">Signup</button>
          </div>
        </form>
        </div>
    </div>
  </div>
  <div class="video-container">
    <iframe id="home-video" src="https://www.youtube.com/embed/kBhZxNGpHpo?autoplay=1&mute=1&playsinline=1&controls=0"></iframe>
  </div>
  {% if newsarticles %}
  <div class="container">
    {% for article in newsarticles %}
    <div class="row center news">
      <div class="col s12 m8 l6">
        {% if article.image %}
        <img src="{{ MEDIA_URL }}{{ article.image }}" alt="News Image" class="home-news-img">
        {% endif %}
        {% if article.embed %}
        <div class="embed">
          {{ article.embed|safe }}
        </div>
        {% endif %}
      </div>
     <div class="col s12 m6 l6 news-div">
      {% if article.title %}
      <h1 class="home-news-title">{{article.title}}</h1>
      {% endif %}
      {% if article.showdate %}
      <p class="home-news-pubdate">{{article.pubdate}}</p>
      {% endif %}
      {% if article.section1 or article.section2 %}
      <p class="home-news-txt">{{article.section1}} <br><br>{{article.section2}}</p>
      {% endif %}
     </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="container">
    <div class="row center about">
     <div class="col s12 m8 l6 about-div">
      <h1 class="home-about-title">About</h1>
      <p class="home-about-txt">Nikolay Cranner is a Norwegian producer, composer, DJ, engineer, and saxophonist dismantling preconceptions of House music. 
        Imbuing the genre with his distinctive blend of sophistication and grit, he brings together the classic electronic sounds infused with deep vocals, 
        undertones of jazz, and an entrancing fusion of styles. </p>
     </div>
     <div class="col s12 m6 l6">
        <img src="{% static "img/home_about.jpg" %}" alt="About Image" class="home-about-img">
     </div>
    </div>
  </div>
  <div class="container">
    <div class="row center services services-div">
     <div class="col s12 m6 l6">
        <img src="{% static "img/home_services.jpg" %}" alt="About Image" class="home-services-img">
     </div>
     <div class="col s12 m6 l6">
      <h1 class="home-services-title">Services</h1>
      <p class="home-services-txt">Get the ultimate experience on your next gig with combined DJing and saxophone solos. 
        Nikolay Cranner is here to make your gig stand out, by combining his own productions with
        his influencers commericial blend.<br><br>He is availabe worldwide.
         </p>
      <a href="{% url 'contact' %}" class="btn waves-effect waves-light nc-btn-color home-contact-button">Contact</a>
     </div>
    </div>
  </div>
{% endblock %}