{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 center m6 offset-m3 l5 offset-l4">
          {% if messages %}
          {% for message in messages %}
          <div class="messages">
            {{ message }}
          </div>
          {% endfor %}
          {% for receipient in receipients_lst %}
          <p>{{ receipient }}</p>
          {% endfor %}
          <hr>
          <a href="{% url 'home' %}">Back home</a>
          {% else %}
          <p>Create Newsletter</p>
            <form action="" method="post">
              {% csrf_token %}
              {{ nform.as_table }}      
              <button class="btn waves-effect waves-light nc-btn-color" type="submit" name="action">Send</button>
            </form>
          {% endif %}
        </div>
      </div>
</div>
{% endblock %}