{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row center">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <form action="#!" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ this_form.as_table }}
        <button class="btn waves-effect waves-light nc-btn-color" type="submit" name="action">Save</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6">
      <a href="{% url 'newsarticles' %}" class="btn waves-effect waves-light nc-btn-color">Back</a>
    </div>
  </div>
</div>
{% endblock %}