{% extends 'base.html' %}
{% block content %}
      <div class="container">
        <div class="row center">
          <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h5>Create News Article</h5>
            <form action="#!" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ articleform.as_p }}      
              <button class="btn waves-effect waves-light nc-btn-color" type="submit" name="action">Save</button>
            </form>
          </div>
        </div>
        <div class="row center">
          <div class="col s12 m8 offset-m2 l6 offset-l3">
            <a href="{% url 'newsarticles' %}">Back</a>
          </div>
        </div>
      </div>
{% endblock %}