<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>

    </header>
    <h2>{{title}}</h2>
    <hr>
    <br>
    <p>Thanks for reaching out! We will get back you you asap.</p>
    <br>
    <p>Best Regards</p>
    <p>The Artist Team</p>
    <br>
    <hr>
    <p><em>{{message}}</em></p>
    <img src="https://nikolaycranner.s3.amazonaws.com/static/img/logo.png" alt="" style="width: 50px; height: auto; text-align: center;">
    <footer>
        <p>Nikolay Cranner</p>
    </footer>
</body>
</html>