{% extends 'base.html' %}
{% load static %}
{% block page_header %}
<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper nc-header-footer">
            <a href="{% url 'home' %}" class="brand-logo left">
                <img src='{% static "img/logo.png" %}' alt="Nikolay Cranner Logo" class="nc-logo">
            </a>
            <a href="#" class="right" id="basket-counter"><i class="small material-icons right">shopping_cart</i><i class="fa-duotone fa-sm fa-{{ bag_items }}"></i></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'music' %}">new music</a></li>
                <li><a href="{% url 'contact' %}">contact</a></li>
                <li><a href="{% url 'store' %}">store</a></li>
                <li><a href="{% url 'login' %}">login</a></li>
            </ul>
            </div>
        </nav>
    </div>
      <ul class="sidenav nc-header-footer" id="mobile-demo">
        <li><a href="{% url 'music' %}">new music</a></li>
        <li><a href="{% url 'contact' %}">contact</a></li>
        <li><a href="{% url 'store' %}">store</a></li>
        <li><a href="{% url 'login' %}">login</a></li>
      </ul>
  </header>
{% endblock %}
{% block content %}
{% for product in products_bag %}
<div class="row product-row">
    <div class="col s3 center"><img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.image }}" class="nc-bag-img"></div>
    <div class="col s3" id="{{ product.pk }}">{{ product.name }}</div>
    <div class="col s3">{{ product.price }} $</div>
    <div class="col s1">
        <form action="{% url 'bag' %}" method="post">
            {% csrf_token %}
            <button {{ remove }} class="btn-floating btn-small waves-effect waves-light nc-btn-color" id="remove-{{ forloop.counter0 }}" type="submit" name="delete" value="{{ forloop.counter0 }}" onclick="">
                <i class="material-icons">remove</i>
            </button>
        </form>
    </div>
    <div class="col s2">
            <a href="{{ MEDIA_URL }}{{ product.media }}" download="mp3" style="pointer-events: {{ download_pointer_events }};">
                <button {{ download }} class="btn-floating btn-small waves-effect waves-light nc-btn-color" id="download-{{ forloop.counter0 }}" type="submit" name="download" value="{{ forloop.counter0 }}" onclick="">
                    <i class="material-icons">download</i>
                </button>
            </a>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col s3 center"></div>
    <div class="col s3 ">Grand Total</div>
    <div class="col s3 " id="grand-total">{{ grand_total }}</div>
    <div class="col s3 "></div>
</div>
<div class="row">
    <div class="col s3 center"></div>
    <div class="col s3 ">User Id</div>
    <div class="col s3 " id="user_id">{{ request.user }}</div>
    <div class="col s3 "></div>
</div>
<div class="row">
    <div class="col s3 center"></div>
    <div class="col s3 ">Order Id</div>
    <div class="col s3" id="order_id">{{ order_id }}</div>
    <div class="col s3 "></div>
</div>
<div class="row">
    <div class="col s3 center"></div>
    <div class="col s3 ">Date</div>
    <div class="col s3" id="transaction_date">{{ transaction_date }}</div>
    <div class="col s3 "></div>
</div>
<div class="row">
    <div class="col s3 center"></div>
    <div class="col s3 ">Time</div>
    <div class="col s3" id="transaction_time">{{ transaction_time }}</div>
    <div class="col s3 "></div>
</div>
<div class="row">
    <div class="col s6 offset-s3 center">
        <div id="paypal-button-container"></div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col s12 center">
        <div class="row">
          <form class="col s12" id="order-form" method="POST">
            {% csrf_token %}
            {{ form.as_table }}
                <p>
                    <button hidden type="submit"></button>
                </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://www.paypal.com/sdk/js?client-id=ATfsuzE4j3nQYzab5kaRV2v9C0jsFb_vHBJKzspzRiUuIH8Om9AXo898FXRansPyNPPQH23yEuQX3Y_H&currency=USD"></script>
{% endblock %}