{% extends 'base.html' %}
{% load static %}
{% block page_header %}
<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper nc-header-footer">
            <a href="{% url 'home' %}" class="brand-logo left">
                <img src='{% static "img/logo.png" %}' alt="Nikolay Cranner Logo" class="nc-logo">
            </a>
            <a href="#" class="right" id="basket-counter"><i class="small material-icons right">shopping_cart</i></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'music' %}">new music</a></li>
                <li><a href="{% url 'contact' %}">contact</a></li>
                <li><a href="{% url 'store' %}">store</a></li>
                <li><a href="{% url 'login' %}">login</a></li>
            </ul>
            </div>
        </nav>
    </div>
      <ul class="sidenav nc-header-footer" id="mobile-demo">
        <li><a href="{% url 'music' %}">new music</a></li>
        <li><a href="{% url 'contact' %}">contact</a></li>
        <li><a href="{% url 'store' %}">store</a></li>
        <li><a href="{% url 'login' %}">login</a></li>
      </ul>
  </header>
{% endblock %}
{% block content %}
{% for product in products_bag %}
<div class="row">
    <div class="col s3 center"><img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.image }}" class="nc-bag-img"></div>
    <div class="col s3">{{ product.name }}</div>
    <div class="col s3">{{ product.price }} USD</div>
    <div class="col s3">
        <form action="{% url 'bag' %}" method="post">
            {% csrf_token %}
            <button class="btn-floating btn-small waves-effect waves-light nc-btn-color" id="{{ forloop.counter0 }}" type="submit" name="delete" value="{{ forloop.counter0 }}" onclick="">
                <i class="material-icons">remove</i>
            </button>
        </form>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col s3 center"></div>
    <div class="col s3 ">Grand Total</div>
    <div class="col s3 ">{{ grand_total }} USD</div>
    <div class="col s3 "></div>
</div>
<div class="row">
    <div class="col s6 offset-s3 center">
        <form action="" method="post">
            {% csrf_token %}
            <button class="btn waves-effect waves-light btn nc-btn-color" id="" type="submit" name="" value="" onclick="">Continue To Payment
                <i class="material-icons left">payment</i>
            </button>
        </form>
    </div>
</div>
<div id="paypal-button-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id=ATfsuzE4j3nQYzab5kaRV2v9C0jsFb_vHBJKzspzRiUuIH8Om9AXo898FXRansPyNPPQH23yEuQX3Y_H&currency=USD"></script>
<script>
     paypal.Buttons({

// Set up the transaction
createOrder: function(data, actions) {
    return actions.order.create({
        purchase_units: [{
            amount: {
                value: '88.44'
            }
        }]
    });
},

// Finalize the transaction
onApprove: function(data, actions) {
    return actions.order.capture().then(function(orderData) {
        // Successful capture! For demo purposes:
        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
        var transaction = orderData.purchase_units[0].payments.captures[0];
        alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

        // Replace the above to show a success message within this page, e.g.
        // const element = document.getElementById('paypal-button-container');
        // element.innerHTML = '';
        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
        // Or go to another URL:  actions.redirect('thank_you.html');
    });
}


}).render('#paypal-button-container');
</script>
{% endblock %}