{% extends 'base.html' %}
{% load static %}
{% block fb_pixel %}
//Send a trcking event to fb pixel, about successful purchase
fbq('track', 'Purchase', {currency: "USD", value: {{order.grand_total}} }); 
{% endblock %}    
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 center">
            {% if request.user.is_authenticated %}
            <h3>Thank you for you order {{ request.user.username }}!</h3>
            {% else %}
            <h3>Thank you for you order !</h3>
            {% endif %}
            <p>Successful purchase</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 offset-m3 l4 offset-l4 center">
            <a href="{% url 'order' order.order_id %}">
                <button class="btn waves-effect waves-light btn nc-btn-color" id="#view-my-order" type="submit" name="view-my-order" value="">View my order</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}