{% extends 'base.html' %}
{% load static %}
{% block page_header_extra %}
<a href="{% url 'bag' %}" class="right basket-counter"><i class="small material-icons right">shopping_cart</i><i class="fa-duotone fa-sm fa-{{ quantity }}"></i></a>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row"></div>
        <div class="col s12 m8 offset-m2 l6 offset-l3 center">
            <img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.image }}" class="nc-store-details-img">
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3 center nc-store-details-txt">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <form action="{% url 'store_details' product.pk %}" method="post">
                {% csrf_token %}
                <button class="btn waves-effect waves-light btn nc-btn-color" id="#add-to-basket" type="submit" name="add-to-basket" value="{{ product.pk }}">Add to basket | {{ product.price }}$ 
                    <i class="material-icons left">add_shopping_cart</i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}