{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col s10 offset-s1">
        <img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.image }}" class="nc-store-details-img">
    </div>
</div>
<div class="row">
    <div class="col s6 offset-s1 nc-store-details-txt">
        <h5>{{ product.name }}</h5>
        <p>{{ product.description }}</p>
        <p><strong>{{ product.price }} USD</strong></p>
        <button class="btn waves-effect waves-light nc-btn-color" type="submit" name="action">Add to Basket
        </button>
    </div>
</div>
{% endblock %}