{% load static %}

.nc-header-footer, .modal-footer, .dropdown-content {
    background-color: #1C140D !important;
    color: #827373 !important;
}

.dropdown-content>li:hover, li:hover {
    background-color: #150E05 !important;
    transition: 5s;
}

main {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex: 1 0 auto;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #150E05;
    color: #827373 !important;
  }

input {
    color: white;
}

hr {
    margin: 50px;
    opacity: 0.2;
}
.modal-content {
    background-color: #150E05;
    color: #827373;
}


.air-20 {
    height: 20vh;
}
.air-50 {
      height: 50vh;
  }

.air-80 {
    height: 80vh;
}

.nc-txt-md {
      font-size: 1.5rem;
      font-family: monospace;
  }

  .nc-btn-color {
      background-color: #743C30;
      color: white;
  }

  .nc-btn-color:hover {
      background-color: #827373;
  }

  .nc-logo {
      height: 30px;
      width: auto;
      margin-top: 15px;
      margin-left: 20px;
  }

  .sidenav li>a, .sidenav li>a>i {
    color: #827373 !important;
    font-size: 2rem;
    margin: 2rem;
}


#nav-mobile li>a {
    color: #827373 !important;
    font-size: 1.2rem;
}

.nc-product-img {
    height: auto;
    width: 100%;
    margin-top: 5vh;
}

.nc-product-img:hover {
    opacity: 0.5;
    transition: 2s;
}

.nc-store-details-txt {
    text-align: center;
}

.nc-store-details-img {
    height: auto;
    width: 70%;
    margin-top: 2vh;
}

.nc-bag-img {
    width: 50px;
    height: auto;
}

audio {
    display: block;
    width: 100%;
}

.material-icons {
    color: white;
    margin-right: 20px;
    margin-left: 0px !important;
}

ul.errorlist {
    display: none;
}



/* Styling for allauth templates */

.forgot-password {
    font-size: 0.6rem;
}

