
html {
    /*font-family:'Times New Roman', Times, serif;*/
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:100;
}

.nc-header-footer, .modal-footer, .dropdown-content {
    background-color: #181717 !important;
    color: #ffffff !important;
}

.nc-socials>a {
    padding-left: 32px;
}

.dropdown-content>li:hover, li:hover {
    background-color: #150E05 !important;
    transition: 5s;
}

main {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    flex: 1 0 auto;
}


/* HOME section */
/* Header */
.listen-now {
    font-size: 0.9rem !important;
    color: rgb(212, 212, 212) !important;
}

.listen-now:hover {
    color: #1DB954 !important;
    transition: 2s;
}

.header-img {
    width: 100%;
    height: auto;
}

.header-div {
    position: relative;
}

.header-quote {
    position: absolute;
    top: 0;
    left: 50vw;
    text-align: right;
    width: 30vw;
    height: auto;
    font-size: 4vw;
    font-style: italic;
}

.header-subscribe {
    position: absolute;
    text-align: right;
    height: auto;
    width: 20%;
    top: 70%;
    left: 50%;
    font-size: 5vw;
    font-style: oblique;
}

.header-logo {
    position: absolute;
    top: 20%;
    left: 10%;
    height: 10%;
}

.quote {
    z-index: 2;
    top: 0;
    left: 0;
}

.subscribe-text {
    text-align: left;
}

.subscribe-btn {
    float: right !important;
}
/* END Header */

/* News */
/* END News */

/* About / Services */
.about-div, .services-div {
    position: relative;
}
.home-about-img, .home-services-img {
    width: 100%;
    height: auto;
}

.home-about-txt, .home-services-txt {
    text-align: left;
    margin-top: 15%;
    margin-left: 10%;
    width: 75%;
}

.home-about-title, .home-services-title {
    text-align: left;
    margin-left: 10%;
}

.home-contact-button {
    float: left;
    margin-left: 10%;
    margin-bottom: 30%;
    margin-top: 5%;
}
/*END About/Services */

/* END HOME section */
/* Custom styling for messages django */

.msg {
    text-align: center;
    opacity: 0.8;
}

#msg-row {
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
}

.success {
    background-color: rgb(212, 244, 212);
    color: rgb(15, 69, 15);
}

.error {
    background-color: rgb(230, 171, 171);
    color: rgb(131, 4, 4);
}

.warning {
    background-color: rgb(233, 222, 183);
    color: rgb(112, 94, 14);
}

.info {
    background-color: rgb(224, 224, 224);
    color: rgb(84, 83, 83);
}

/* Checkbox styling*/

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    opacity: 1;
    pointer-events: all;
    display: inline-block;
    margin: .4rem;
}


.label-checked {
    color: rgb(79, 31, 190);
}

/* End checkbox styling */

select, input {
    display: block;
    text-align: left;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #070605;
    color: #ffffff !important;
  }

/* Inputs */
/* Materializecss */
/* END Materializecss */

input,textarea {
    color: white;
    background-color: transparent !important;
    text-align: right;
    font-family:'Times New Roman', Times, serif;
    font-size: 0.9 rem;
}

textarea {
    height: 110px !important;
}

/* END Inputs */

hr {
    margin: 50px;
    opacity: 0.1;
}
.modal-content {
    background-color: #1b1b1b;
    color: #f8f5f5;
}

.nc-txt-md {
      font-size: 1.5rem;
      font-family: monospace;
  }

  .nc-btn-color {
      background-color: #B86D16;
      color: white;
  }

  .nc-btn-color:hover {
      background-color: #827373;
  }

  .nc-logo {
      height: 30px;
      width: auto;
      margin-top: 15px;
      margin-left: 20px;
  }

  .sidenav li>a, .sidenav li>a>i {
    color: #ffffff !important;
    font-size: 2rem;
    margin: 2rem;
}


#nav-mobile li>a {
    color: #ffffff !important;
    font-size: 1.2rem;
}

.nc-product-img {
    height: auto;
    width: 100%;
    margin-top: 5vh;
}

.nc-product-img:hover {
    opacity: 0.5;
    transition: 2s;
}

.nc-store-details-txt {
    text-align: center;
}

.nc-store-details-img {
    height: auto;
    width: 70%;
    margin-top: 2vh;
}

.nc-bag-img {
    width: 50px;
    height: auto;
}

audio {
    display: block;
    width: 100%;
}

.material-icons {
    color: white;
    margin-right: 20px;
    margin-left: 0px !important;
}

ul.errorlist {
    display: none;
}

iframe {
    width: 100%;
    border: none;
    border-radius: .2rem;
}


/* Styling for allauth templates */

.forgot-password {
    font-size: 0.6rem;
}

/* Materializecss cards */

.card {
    opacity: 0.8;
}

.card-action>a {
    color: #ffffff !important;
}

.modal-footer>a {
    color: #ffffff !important;
}

/* Media Queries */
@media screen and (max-width: 1300px) {    
    .header-subscribe {
        width: 25%;
    }
}

/* Media Queries */
@media screen and (max-width: 800px) {
    .header-quote {

    }
    .header-subscribe {
        width: 30%;
    }
}

/* Media Queries S*/
@media screen and (max-width: 600px) {
    .home-about-txt {
        position: absolute;
        text-align: right;
        width: 50%;
        margin-top: 20vh;
        left: 20vw;
    }

    .home-about-title {
        position: absolute;
        top: 50%;
        left: 25vw;
    }

    .home-services-txt {
        position: absolute;
        text-align: left;
        width: 50%;
        left: 5vw;
        margin-top: 10vh;
        top: 10%;
    }

    .home-services-title {
        position: absolute;
        left: 5vw;
        top: 0;
    }

    .home-contact-button {
        position: absolute;
        top: 82%;
        left: 5vw;
    }

/* Media Queries */
@media screen and (max-width: 586px) {
    .header-quote {
        width: 30%;
        left: 55%;
        top: 7%;
    }
    
    .header-subscribe {
        width: 50%;
        position: relative;
        left: 25%
    }
}

