{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="facebook-domain-verification" content="c2gijf92e21so0iw7ftx4jng80kivt" />
    <meta name="facebook-domain-verification" content="a6qmw303ic7mxj4tfihvte1hcg06l4" />
    <meta name="description" content="Join Nikolay Cranner Offcial today, unique sax and dj artist focusing on house music with a deep, jazzy, and funky touch,
    subscribe to personalised newsletters, buy exclusive music and merch online with paypal or card, contact for business inqueries, sign up or login to your own account">
    <meta name="keywords" content="music,house music,best house music,deep house,edm music,jazz music,buy music ,buy music,tidal buy,buy music online,
    spotify artist,spotify,only you spotify,saxophone,sax fifth avenue,alto saxophone,sax,epic sax guy,artist,classy dress,
    classy definition,classy man,sexy classy dresses,classy,innovator,sexy,suave,dj,dj house,dj sax,sax dj,
    saxophone player for wedding,dj and saxophone wedding,best house dj,producer,producer definition,top producer,
    music producer,nft,nft market,nft art,nft meaning,buy nft,merch,bourbons,blantons's bourbon,weller bourbon,
    unspeakable merch,amazon merch,bts merch,band t shirts">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://kit.fontawesome.com/27334772f0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel="icon" href="{% static  'img/logo_light.png' %}">
    <title>Nikolay Cranner | Official</title>
    <!-- Meta Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '755119178813459');
      fbq('track', 'PageView');
      {% block fb_pixel %}
      {% endblock %}
    </script>
    <noscript>
      <img height="1" width="1" style="display:none;" src="https://www.facebook.com/tr?id=755119178813459&ev=PageView&noscript=1" alt="facebook-pixel"></img>
    </noscript>
    <!-- End Meta Pixel Code -->
</head>
<body>
  {% block page_header %}
  <header>
    <!-- Dropdown Structure Desktop/Tablet -->
    <ul id="dropdown1" class="dropdown-content">
      {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <li><a href="/admin">manage</a></li>
        <li><a href="{% url 'newsletter_create' %}">newsletter</a></li>
        <li class="divider" tabindex="-1"></li>
        {% endif %}
        <li><a href="{% url 'user_profile' %}">profile</a></li>
        <li><a href="/accounts/logout">logout</a></li>
      {% else %}
        <li><a href="/accounts/login">log in</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="/accounts/signup">sign up</a></li>
      {% endif %}
    </ul>
    <!-- Dropdown Structure Mobile -->
    <ul id="dropdown2" class="dropdown-content">
      {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <li><a href="/admin">manage</a></li>
        <li><a href="{% url 'newsletter_create' %}">newsletter</a></li>
        <li class="divider" tabindex="-1"></li>
        {% endif %}
        <li><a href="{% url 'user_profile' %}">profile</a></li>
        <li><a href="/accounts/logout">logout</a></li>
      {% else %}
        <li><a href="/accounts/login">log in</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="/accounts/signup">sign up</a></li>
      {% endif %}
    </ul>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper nc-header-footer">
          <a href="{% url 'home' %}" class="brand-logo left">
            <img src='{% static "img/logo.png" %}' alt="Nikolay Cranner Logo" class="nc-logo">
          </a>
          <!-- Modal Trigger Listen Now -->
          <a class="modal-trigger brand-logo center listen-now" href="#modal1">LISTEN NOW</a>
          {% block page_header_extra %}
          {% endblock %}
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'music' %}">new music</a></li>
            <li><a href="{% url 'contact' %}">contact</a></li>
            <li><a href="{% url 'store' %}">store</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{ request.user.username|default:'guest' }}<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
    </div>
      <ul class="sidenav nc-header-footer" id="mobile-demo">
        <li><a href="{% url 'music' %}">new music</a></li>
        <li><a href="{% url 'contact' %}">contact</a></li>
        <li><a href="{% url 'store' %}">store</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">{{ request.user.username|default:'guest' }}<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    <!-- Modal Structure Listen Now-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <iframe src="https://open.spotify.com/embed/artist/4NvkvOJ0mDM7QjdzOZLDRd?utm_source=generator&theme=0" height="350" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect btn-flat ">Close</a>
        <a href="{% url 'store' %}" class="modal-close btn waves-effect waves-light nc-btn-color">Store</a>
      </div>
    </div>
     <!-- END Modal Structure Listen Now-->
  </header>
  {% endblock %}
  <main style="background-image: url('{% static "img/background.jpg" %}');">
    <div id="msg-row">
      {% if messages %}
      {% for msg in messages %}
      <div class="msg {{msg.tags}}">{{msg}}</div>
      {% endfor %}
      {% endif %}
    </div>
  <section>
         {% block content %}
         {% endblock %}
  </section>
  </main>
  <footer class="page-footer nc-header-footer">
    <div class="container">
      <div class="row center nc-socials">
        <a class="grey-text text-lighten-3" href="https://open.spotify.com/artist/4NvkvOJ0mDM7QjdzOZLDRd?si=jLyIf8k9R9aKJbMTzNoJsw" rel="nofollow"><i class="fab fa-spotify"></i></a>         
        <a class="grey-text text-lighten-3" href="https://www.instagram.com/nikolay_cranner/" rel="nofollow"></a><i class="fab fa-instagram"></i></a>
        <a class="grey-text text-lighten-3" href="https://www.facebook.com/NikolayCranner" rel="nofollow"><i class="fab fa-facebook"></i></a>
        <a class="grey-text text-lighten-3" href="https://soundcloud.com/nikolaycranner" rel="nofollow"><i class="fab fa-soundcloud"></i></a>
      </div>
    </div>
    <div class="footer-copyright nc-header-footer center">
      <div class="container">
      © 2022 Copyright Nikolay Cranner
      </div>
    </div>
  </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>    
    <script src='{% static "js/script.js" %}'></script>
</body>
</html>